var scheme = '<%= @scheme %>',
    uri    = scheme + document.location.host + "/";

angular.socket = new WebSocket(uri);

angular.socket.responses = socketToObservable(angular.socket).map(function(response) {
  return JSON.parse(response);
});

angular
  .module('hangman', ['ng', 'ngRoute'])
  .config(function ($routeProvider) {
    $routeProvider

      .when('/', {
        templateUrl: 'views/rooms/index.html',
        controller: 'RoomsIndexCtrl'
      })

      .when('/rooms/:name', {
        templateUrl: 'views/rooms/show.html',
        controller: 'RoomsShowCtrl'
      })

      .otherwise({
        redirectTo: '/'
      });
  });

<%# (function(){ %>
<%#   var scheme       = '<%= @scheme %1>', %>
<%#       uri          = scheme + document.location.host + "/", %>
<%#       ws           = new WebSocket(uri), %>
<%#       socketStream = socketToObservable(ws).map(function(response) { %>
<%#         return JSON.parse(response); %>
<%#       }), %>
<%#       display     = $("#the_num"), %>
<%#       createRoom  = $('#create-room').toObservable('click'), %>
<%#       roomsList   = $('#rooms-list'), %>
<%#       addGames    = $('#add-games'), %>
<%#       currentRoom = $('#current-room'), %>
<%#       addPlayer   = $('#add-player'), %>
<%#       roomName    = currentRoom.find('#room-name'), %>
<%#       playersList = $('#players-list'), %>
<%#       listRooms  = socketStream.filter(function(response) { %>
<%#         return response.headers.method == "get" && response.headers.url == "/rooms"; %>
<%#       }).map(function(response) { %>
<%#         return response.body.rooms; %>
<%#       }), %>
<%#       roomCreated = socketStream.filter(function(response) { %>
<%#         return response.headers.method == "post" && response.headers.url == "/rooms"; %>
<%#       }).map(function(response) { %>
<%#         return response.body.room; %>
<%#       }); %>

<%#   addPlayer.hide(); %>
<%#   currentRoom.hide(); %>

<%#   // POST new game %>
<%#   createRoom.map(function(){ %>
<%#     return $('#room-name-input').val() %>
<%#   }) %>
<%#   .map(function(roomName) { %>
<%#     return toSocketRequest("POST", "/rooms", { name:roomName }); %>
<%#   }) %>
<%#   .subscribe(function(request){ %>
<%#     ws.send(request); %>
<%#   }); %>

<%#   // GET all games DOM %>
<%#   listRooms.subscribe(function(rooms) { %>
<%#     console.log("LIST ROOMS"); %>
<%#     console.log(rooms); %>

<%#     roomsList.html(""); %>

<%#     for (index in rooms) { %>
<%#       var room = rooms[index]; %>
<%#       roomsList.append("<li class='room'>" + room + "</li>"); %>
<%#     } %>
<%#   }); %>

<%#   // CREATE room DOM %>
<%#   roomCreated.subscribe(function(room) { %>
<%#     console.log("ROOM CREATED!!"); %>
<%#     console.log(room); %>

<%#     roomsList.hide(); %>
<%#     addGames.hide(); %>

<%#     addPlayer.show(); %>
<%#     <1%# currentRoom.show(); %1> %>

<%#     <1%# roomName.text(room.name); %1> %>
<%#   }); %>
<%# })() %>


