<html>
<head></head>
<body>
<h1 id="the_num">No numbers received yet.</h1>

<div class="add-games">
  <input type="text" name="" id="room-name" value="" />
  <button id="create-room" type="submit">Submit</button>
</div>

<button id="get-rooms" type="submit">Get Rooms</button>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/rx.all.compat.min.js"></script>
  <script src="assets/js/jquery-observable.js"></script>
  <script src="assets/js/application.js"></script>
</body>
</html>
