<html>
<head>
    <link rel="stylesheet" href="assets/css/topcoat-desktop-light.css" title="" type="" />
    <link rel="stylesheet" href="assets/css/layout.css" title="" type="" />
    <link rel="stylesheet" href="assets/css/game.css" title="" type="" />
    <link rel="stylesheet" href="assets/css/interface.css" title="" type="" />
  </head>
  <body ng-app="hangman">
    <div id="main">
      <ng-view></ng-view>
    </div>

    <%# <div id="current-room"> %>
    <%#   <h2 id="room-name"></h2> %>
    <%#   <div id="players-list"></div> %>
    <%# </div> %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/rx.all.compat.min.js"></script>
    <script src="assets/js/jquery-observable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-route.js"></script>
    <script src="assets/js/observable-socket.js"></script>
    <script src="assets/js/application.js"></script>
    <script src="assets/js/controllers/rooms/index.js"></script>
    <script src="assets/js/controllers/rooms/show.js"></script>
    <script src="assets/js/controllers/sessions/new.js"></script>
    <script src="assets/js/directives/rooms/list.js"></script>
    <script src="assets/js/directives/rooms/listRooms.js"></script>
    <script src="assets/js/directives/rooms/addRoom.js"></script>
    <script src="assets/js/directives/rooms/room.js"></script>
    <script src="assets/js/directives/sessions/addPlayer.js"></script>
    <script src="assets/js/directives/players/list.js"></script>
    <script src="assets/js/directives/players/listPlayers.js"></script>
  </body>
</html>
