<html>
  <head></head>
  <body ng-app="hangman">
    <div id="main">
      <ng-view></ng-view>
    </div>

    <%# <div id="add-player"> %>
    <%#   <h2>What is your name?</h2> %>
    <%#   <input type="text" id="player-name-input" value="" /> %>
    <%#   <button id="create-session" type="submit">Submit</button> %>
    <%# </div> %>

    <%# <div id="current-room"> %>
    <%#   <h2 id="room-name"></h2> %>
    <%#   <div id="players-list"></div> %>
    <%# </div> %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/rx.all.compat.min.js"></script>
    <script src="assets/js/jquery-observable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-route.js"></script>
    <script src="assets/js/observable-socket.js"></script>
    <script src="assets/js/application.js"></script>
    <script src="assets/js/controllers/rooms/index.js"></script>
    <script src="assets/js/controllers/rooms/show.js"></script>
    <script src="assets/js/directives/rooms/list.js"></script>
    <script src="assets/js/directives/rooms/listRooms.js"></script>
    <script src="assets/js/directives/rooms/addRoom.js"></script>
  </body>
</html>
